@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

*, *:after, *:before {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Sukhumvit Set", "Sukhumvit Set Text", Sukhumvit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #F6F8F7;
  position: relative;
}

a {
  color: #0A0A0A;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  word-break: break-word;
}

a:hover {
  color: #019960;
  text-decoration: none;
}

a:focus {
  color: #004F37;
}

a:active {
  color: #004F37;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.navbar {
  padding: 0.25rem 0;
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 0.5rem 0;
  }
}

.navbar.-mainnav {
  background: linear-gradient(90deg, #019960 45.31%, #ACD85F 100%);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-collapse {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .navbar .navbar-collapse {
    margin-bottom: 0;
  }
}

.navbar .navbar-collapse > .navbar-nav > .nav-item {
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

.navbar .navbar-collapse > .navbar-nav > .nav-item > .nav-link {
  color: #ffffff;
  padding: 0 0.5rem;
  font-size: 24px;
  font-size: 1.5rem;
}

.navbar .navbar-collapse > .navbar-nav > .nav-item > .nav-link:hover {
  border-bottom: 6px solid #FFC50C;
  transition: all 0.25s ease-in-out;
}

.navbar .navbar-collapse > .navbar-nav > .nav-item > .nav-link.active {
  font-weight: bold;
  border-bottom: 6px solid #FFC50C;
}

@media only screen and (min-width: 768px) {
  .navbar .navbar-collapse > .navbar-nav > .nav-item > .nav-link {
    font-size: 18px;
    font-size: 1.125rem;
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .navbar .navbar-collapse > .navbar-nav > .nav-item {
    padding: 0.5rem 0.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar .navbar-collapse > .navbar-nav > .nav-item {
    padding: 0.5rem 1rem;
  }
}

.navbar .navbar-toggler {
  margin-left: auto;
}

.btn-tertiary-01 {
  color: #ffffff;
  background-color: #05396B;
  border-color: #05396B;
  padding: 0.25rem 1rem;
  line-height: 1.7;
  border-radius: 6rem;
  font-weight: bold;
  font-size: 24px;
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .btn-tertiary-01 {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.btn-tertiary-01:hover {
  color: #F6F8F7;
  background-color: #001440;
  border-color: #001440;
}

.btn-tertiary-01:focus {
  color: #F6F8F7;
  box-shadow: 0 0 0 0.2rem rgba(0, 20, 64, 0.5);
}

.bg-banner {
  background-image: url(../images/bg-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center,top;
}

.bg-banner .info-page {
  text-align: center;
}

.bg-banner .info-page .title {
  color: #004F37;
  font-size: 38px;
  font-size: 2.375rem;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.24);
  margin-top: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .bg-banner .info-page .title {
    font-size: 44px;
    font-size: 2.75rem;
  }
}

.bg-banner .info-page .sub-title {
  color: #004F37;
  font-size: 130px;
  font-size: 8.125rem;
  line-height: 0.9;
  padding-bottom: 5rem;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.24);
}

@media only screen and (min-width: 768px) {
  .bg-banner .info-page .sub-title {
    font-size: 260px;
    font-size: 16.25rem;
  }
}

.bg-banner .img-sub-banner {
  margin-top: -1rem;
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .bg-banner .img-sub-banner {
    width: 75%;
  }
}

@media only screen and (min-width: 1024px) {
  .bg-banner .img-sub-banner {
    width: 55%;
    margin-top: -2rem;
  }
}

@media only screen and (min-width: 1280px) {
  .bg-banner .img-sub-banner {
    width: 40%;
  }
}

@media only screen and (min-width: 1920px) {
  .bg-banner .img-sub-banner {
    width: 28%;
  }
}

.bg-banner .countdown-container {
  text-align: center;
}

.bg-banner .countdown-container .countdown-content {
  background-color: #FFC50C;
  display: inline-block;
  padding: 0rem 2.5rem;
  border-radius: 6rem;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.24);
}

.bg-banner .countdown-container .countdown-content .text-date {
  font-size: 32px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .bg-banner .countdown-container .countdown-content .text-date {
    font-size: 48px;
    font-size: 3rem;
  }
}

.bg-banner .countdown-container .countdown-content .number-countdown {
  font-size: 85px;
  font-size: 5.3125rem;
  line-height: 1;
  color: #004F37;
  padding: 0 0.5rem;
}

@media only screen and (min-width: 1024px) {
  .bg-banner .countdown-container .countdown-content .number-countdown {
    font-size: 144px;
    font-size: 9rem;
  }
}

.bg-banner .countdown-container .sub-title {
  font-size: 24px;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  padding: 1rem 1rem 2rem;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .bg-banner .countdown-container .sub-title {
    font-size: 32px;
    font-size: 2rem;
  }
}

.cards.-landscape-collapse {
  background-color: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.cards.-landscape-collapse .card-number-content {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
  margin-top: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape-collapse .card-number-content {
    margin-top: 0.5rem;
  }
}

.cards.-landscape-collapse .card-number-content .number-contestant {
  color: #019960;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape-collapse .card-number-content .number-contestant {
    font-size: 88px;
    font-size: 5.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .cards.-landscape-collapse .card-number-content .number-contestant {
    font-size: 120px;
    font-size: 7.5rem;
  }
}

.cards.-landscape-collapse .card-info {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape-collapse .card-info {
    flex-wrap: nowrap;
    gap: 1rem;
  }
}

.cards.-landscape-collapse .card-info .contestant-img {
  position: relative;
  width: 5.25rem;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape-collapse .card-info .contestant-img {
    width: 7.25rem;
  }
}

@media only screen and (min-width: 1024px) {
  .cards.-landscape-collapse .card-info .contestant-img {
    width: 9.25rem;
  }
}

@media only screen and (min-width: 1280px) {
  .cards.-landscape-collapse .card-info .contestant-img {
    width: 11.25rem;
  }
}

.cards.-landscape-collapse .card-info .contestant-img .thumb-img {
  padding-top: 109%;
  overflow: hidden;
  background: url(https://static.ch7.com/images/theme2019/ch7_logo-bw.png) #6f7881 center no-repeat;
  background-size: 50%;
  border-radius: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape-collapse .card-info .contestant-img .thumb-img {
    padding-top: 100%;
  }
}

.cards.-landscape-collapse .card-info .contestant-img .thumb-img .img-item {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 5.75rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape-collapse .card-info .contestant-img .thumb-img .img-item {
    height: 7.75rem;
  }
}

@media only screen and (min-width: 1024px) {
  .cards.-landscape-collapse .card-info .contestant-img .thumb-img .img-item {
    height: 9.25rem;
  }
}

@media only screen and (min-width: 1280px) {
  .cards.-landscape-collapse .card-info .contestant-img .thumb-img .img-item {
    height: 11.25rem;
  }
}

.cards.-landscape-collapse .card-info .contestant-detail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
}

.cards.-landscape-collapse .card-info .contestant-detail .name-contestant {
  font-size: 24px;
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape-collapse .card-info .contestant-detail .name-contestant {
    font-size: 25px;
    font-size: 1.5625rem;
  }
}

@media only screen and (min-width: 1024px) {
  .cards.-landscape-collapse .card-info .contestant-detail .name-contestant {
    font-size: 36px;
    font-size: 2.25rem;
  }
}

.cards.-landscape-collapse .card-info .contestant-detail .logo-party {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape-collapse .card-info .contestant-detail .logo-party {
    width: 40px;
    height: 40px;
  }
}

.cards.-landscape-collapse .card-info .contestant-detail .party-info {
  display: flex;
  align-items: center;
}

.cards.-landscape-collapse .card-info .contestant-detail .party-info .name-party {
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 0;
  margin-left: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape-collapse .card-info .contestant-detail .party-info .name-party {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1024px) {
  .cards.-landscape-collapse .card-info .contestant-detail .party-info .name-party {
    font-size: 24px;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}

.cards.-landscape-collapse .card-info .vote-contestant {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  margin-top: -1.75rem;
  margin-left: 5.75rem;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape-collapse .card-info .vote-contestant {
    align-items: center;
    margin-top: 2.5rem;
    margin-left: 0;
    margin-right: initial;
  }
}

.cards.-landscape-collapse .card-info .vote-contestant .score-voting {
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape-collapse .card-info .vote-contestant .score-voting {
    font-size: 25px;
    font-size: 1.5625rem;
  }
}

@media only screen and (min-width: 1024px) {
  .cards.-landscape-collapse .card-info .vote-contestant .score-voting {
    font-size: 36px;
    font-size: 2.25rem;
  }
}

.cards.-landscape-collapse .card-info .vote-contestant .sub-title {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .cards.-landscape-collapse .card-info .vote-contestant .sub-title {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: normal;
  }
}

@media only screen and (min-width: 1024px) {
  .cards.-landscape-collapse .card-info .vote-contestant .sub-title {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.accordion.-details-manifesto .accordion-item {
  border: none;
}

.accordion.-details-manifesto .accordion-body {
  padding: 1rem 0;
}

.accordion-button:not(.collapsed) {
  color: #019960;
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  margin-left: 0.5rem;
  background-image: url(../images/icon/icon-down.svg);
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button.toggle-collapse-manifesto {
  color: #019960;
  font-weight: bold;
  border: none;
  padding: 1rem 0 0;
  justify-content: center;
  border-top: 1px solid #019960;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .accordion-button.toggle-collapse-manifesto {
    padding: 1rem 0;
    justify-content: flex-start;
    border-top: none;
    margin-top: 0;
  }
}

.accordion-button::after {
  margin-right: initial;
  margin-left: 0.5rem;
  height: 0.75rem;
  background-size: 1rem;
  background-image: url(../images/icon/icon-down.svg);
}

@media only screen and (min-width: 768px) {
  .accordion-button::after {
    font-size: 25px;
    font-size: 1.5625rem;
    margin-right: auto;
  }
}

.contestant-container {
  background: linear-gradient(0.07deg, #019960 32.8%, #ACD85F 99.96%);
}
/*# sourceMappingURL=main.css.map */