@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

*, *:after, *:before {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Sukhumvit Set", "Sukhumvit Set Text", Sukhumvit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #F6F8F7;
}

a {
  color: #0A0A0A;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  word-break: break-word;
}

a:hover {
  color: #019960;
  text-decoration: none;
}

a:focus {
  color: #004F37;
}

a:active {
  color: #004F37;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.text-green {
  color: #019960;
}

.card.-radius {
  border-radius: .5rem;
}

.card.-radius img {
  border-radius: .5rem;
}

.card.-top-radius {
  border-radius: .5rem;
}

.card.-top-radius img {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.card .card-body.-height {
  min-height: 155px;
}

.card-img-overlay.text-bottom {
  top: auto;
}

.card-img-overlay.-background {
  background: linear-gradient(rgba(10, 10, 10, 0), #0A0A0A);
  border-radius: .5rem;
}

.card-img-overlay.-height {
  min-height: 35%;
}

.card-text.-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

.card-text.-ellipsis.-two {
  -webkit-line-clamp: 2;
}

.card-text.-ellipsis.-three {
  -webkit-line-clamp: 3;
}

.placeholder-img {
  background-image: url(https://static.ch7.com/images/theme2019/ch7_logo-bw.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
}

.fit-img {
  object-fit: cover;
  object-position: top;
}

.ratio-16x9.-custom {
  --bs-aspect-ratio: calc(9 / 16 * 60%);
}

@media only screen and (max-width: 991.98px) {
  .ratio-16x9.-custom {
    --bs-aspect-ratio: calc(9 / 16 * 100%);
  }
}

.text-green a {
  color: #019960;
}

.text-green a:hover {
  color: #004F37;
}

a {
  transition: all 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.9);
}

.heading-1 {
  font-size: 2rem;
}

.heading-1 a .invisible {
  vertical-align: middle;
  transition: all, 0.25s, cubic-bezier(0.25, 0.46, 0.45, 0.94), 0.12s;
}

.heading-1 a:hover .invisible {
  visibility: visible !important;
}

.heading-1 a .icon-md {
  transition: all 0.2s ease-in-out;
  margin-left: -3.5rem;
}

.heading-1 a:hover .icon-md {
  margin-left: -1rem;
}

.icon-md {
  display: inline-block;
  width: 32px;
  padding: 0 0 0 1rem;
  line-height: 1;
}

.icon-news {
  filter: invert(20%) sepia(16%) saturate(4118%) hue-rotate(204deg) brightness(89%) contrast(101%);
  height: 16px !important;
}

small {
  font-size: .8rem;
  color: #019960;
}
/*# sourceMappingURL=main.css.map */